.App {
  text-align: center;
  background-color: #f4d8cd;
  height: 100vh;
}

/* .App-logo {
  height: 10vmin;
  pointer-events: none;
  align-items: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; */
    /* align-items: left; */
    /* display: inline-block;
    vertical-align: top;
  }
} */

.logo{
  display: flex;
  width: 100px;
  height: 100px;
  align-items: flex-start;
  Justify-Content: left;
}

.App-header {
  background-color: #f4d8cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f4d8cd;
}

.MainMenu{
  background-color:#f4d8cd;
}
.Header{
  background-color: #ffffff;
}


.App-link {
  color: #f4d8cd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.CompanyName {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:xx-small;
}

.menu-appbar{
  background-color: #f4d8cd;
}